<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="appOrigPath" value="D:\StonerBot\ext\Assembly-CSharp.orig.dll"/>
    <add key="injPath" value="D:\StonerBot\ext\Sigmund.dll"/>
    <add key="appPatchedPath" value="D:\StonerBot\ext\Assembly-CSharp.dll"/>
  </appSettings>
</configuration>
